.navbar {
  margin-bottom: 10px;
  display: flex;
  background: #84b59f;
  padding: 20px;
  justify-content: space-between;
}
.navbar2 {
  margin-bottom: 10px;
  display: flex;
  padding: 10px;
}
.alert2 {
  color: white;
  font-family: "Gowun Dodum", sans-serif;
  font-weight: bold;
  background-color: #a3c9a8;
  margin-bottom: 10px;
}
.alert {
  padding: 10px;
}
.search {
  height: 50px;
  width: 370px;
  border: 3px solid #84b59f;
  border-radius: 5px;
  margin-left: auto;
}
.search input {
  font-family: "Gowun Dodum", sans-serif;
  font-weight: bold;
  font-size: 15px;
  width: 270px;
  padding: 10px;
  border: 0px;
  outline: none;
  float: left;
}
.search button {
  font-family: "Gowun Dodum", sans-serif;
  width: 70px;
  height: 100%;
  float: right;
  font-size: 14px;
  font-weight: bold;
  outline: none;
  border: 0px;
  background-color: #84b59f;
  color: white;
}
.nav-nav {
  display: inline-block;
  vertical-align: middle;
}
.nav {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
}
.nav-link {
  text-decoration-line: none;
  color: white;
  font-family: "Gowun Dodum", sans-serif;
}
a:hover {
  color: green;
}
.nav-item {
  display: block;
  text-align: center;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-weight: bold;
  color: white;
  background: #a3c9a8;
}

.nav-title {
  display: inline-block;
  /* vertical-align: middle; */
  color: white;
  font-size: x-large;
  font-weight: bold;
  margin: 0.5rem;
  padding: 0;
}

.book-list-item {
  list-style: none;
  margin: 0.5rem;
  vertical-align: middle;
}
a.book-list-item {
  width: fit-content;
}
.book-item {
  border: 2.5px solid #e3d081;
  display: inline-block;
  font-size: 15px;
  background-color: white;
  font-family: "Gowun Dodum", sans-serif;
  padding: 10px 10px 10px 10px;
  box-sizing: border-box;
  text-align: center;
}
.nonebook {
  font-family: "Gowun Dodum", sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 30px;
}

.book-image {
  width: 230px;
  height: 280px;
  object-fit: contain;
  margin-bottom: 20px;
  /* display: block; */
}
.plusimg {
  display: grid;
  margin-right: 20px;
  grid-row-start: 1;
  grid-row-end: 3;
  vertical-align: middle;
}
.detail-img {
  height: 350px;
}
.detailphoto-img {
  width: 250px;
  height: auto;
}
.photoupload {
  margin-bottom: 10px;
  font-family: "Gowun Dodum", sans-serif;
}
.photoupload2 {
  font-family: "Gowun Dodum", sans-serif;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid #84b59f;
  background-color: rgba(0, 0, 0, 0);
  color: #84b59f;
  padding: 5px;
  line-height: normal;
  vertical-align: middle;
}

body {
  margin: 10px;
}
.where {
  display: block;
  margin: 25px 15px;
  font-size: 11px;
  color: #000;
  text-decoration: none;
  font-family: verdana;
  font-style: italic;
}

.filebox input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.filebox label {
  display: inline-block;
  padding: 0.5em 0.75em;
  color: #999;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #fdfdfd;
  cursor: pointer;
  border: 1px solid #ebebeb;
  border-bottom-color: #e2e2e2;
  border-radius: 0.25em;
}

/* named upload */
.filebox .upload-name {
  display: inline-block;
  padding: 0.5em 0.75em;
  font-size: inherit;
  font-family: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #f5f5f5;
  border: 1px solid #ebebeb;
  border-bottom-color: #e2e2e2;
  border-radius: 0.25em;
  -webkit-appearance: none; /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
}

/* imaged preview */
.filebox .upload-display {
  margin-bottom: 5px;
}

@media (min-width: 768px) {
  .filebox .upload-display {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 0;
  }
}

.filebox .upload-thumb-wrap {
  display: inline-block;
  width: 54px;
  padding: 2px;
  vertical-align: middle;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.filebox .upload-display img {
  display: block;
  max-width: 100%;
  width: 100% \9;
  height: auto;
}

.filebox.bs3-primary label {
  font-family: "Gowun Dodum", sans-serif;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid #84b59f;
  background-color: rgba(0, 0, 0, 0);
  color: #84b59f;
  padding: 5px;
  margin-bottom: 0;
}
.book-detail-class {
  width: 1060px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}
.book_info {
  /*border: 3px solid #e3d081;*/
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  font-size: 18px;
  font-family: "Gowun Dodum", sans-serif;
  align-items: center;
  padding: 10px 20px 10px 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  text-align: left;
}
.book-info-detail {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 4;

  flex-direction: column;
}
.total-description {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 4;
  font-family: "Gowun Dodum", sans-serif;
}
.book-description {
  display: grid;
}
.review {
  margin-bottom: 10px;
  font-family: "Gowun Dodum", sans-serif;
}
.reviewinfo {
  margin-bottom: 10px;
  display: flex;
}
.review-button {
  display: flex;
  margin-right: 30px;
  justify-content: flex-end;
}
.context-date {
  display: flex;
}
.write-review {
  font-family: "Gowun Dodum", sans-serif;
}
.review-now {
  font-family: "Gowun Dodum", sans-serif;
  padding-bottom: 10px;
  margin-left: 5px;
}
.review-user {
  margin-top: 1px;
  border: 2px solid #e3d081;
  box-sizing: border-box;
  padding-left: 10px;
}
.star-rating {
  display: flex;
  flex-direction: row-reverse;
  font-size: 2.25rem;
  line-height: 2rem;
  /* justify-content: space-around; */
  /* padding: 0 0.2em; */
  text-align: center;
  width: 5em;
  margin: 0px 3%;
  margin-left: 392px;
}

.star-rating input {
  display: none;
}

.star-rating label {
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2.3px;
  -webkit-text-stroke-color: #2b2a29;
  cursor: pointer;
  font-size: 25px;
  font-family: "Jua", sans-serif;
}

.star-rating :checked ~ label {
  -webkit-text-fill-color: gold;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  -webkit-text-fill-color: #fff58c;
}

.star-ratings {
  font-family: "Jua", sans-serif;
  color: #aaa9a9;
  position: relative;
  unicode-bidi: bidi-override;
  width: max-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 40%);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: #2b2a29;
}
.star-review {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 10px;
}
.star-ratings-review {
  font-family: "Jua", sans-serif;
  font-size: 20px;
  color: #aaa9a9;
  position: relative;
  unicode-bidi: bidi-override;
  width: max-content;
  margin-right: 30px;
  float: right;
  margin-bottom: 10px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: #2b2a29;
}

.star-ratings-fill {
  color: #fff58c;
  padding: 0;
  position: absolute;

  z-index: 1;
  display: flex;

  overflow: hidden;
  -webkit-text-fill-color: gold;
}

.star-ratings-base {
  z-index: 0;
  padding: 0;
}
.register {
  font-family: "Gowun Dodum", sans-serif;
  display: block;
  border: 3px solid #84b59f;
  padding-top: 25px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -35%);
}
.form-group2 label {
  font-family: "Gowun Dodum", sans-serif;
  font-size: 20px;
}
.form-group2 {
  margin-bottom: 5px;
}
.form-group2 input {
  font-family: "Gowun Dodum", sans-serif;
  font-size: 20px;

  display: flex;
  border: 1px solid;
  outline: none;
  border-radius: 5px;
  line-height: 2.5rem;
  font-size: 1.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.form-group {
  margin-bottom: 5px;
}
.form-group label {
  font-family: "Gowun Dodum", sans-serif;

  font-size: 20px;
}

.form-group input {
  font-family: "Gowun Dodum", sans-serif;
  font-size: 20px;
  height: 33px;
  width: 83.4%;
  display: flex;
  border: 1px solid;
  outline: none;
  border-radius: 5px;
  line-height: 2.5rem;
  font-size: 1.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.form-group2 input {
  font-family: "Gowun Dodum", sans-serif;
  font-size: 20px;
  height: 33px;
  width: 100%;
  display: flex;
  border: 1px solid;
  outline: none;
  border-radius: 5px;
  line-height: 2.5rem;
  font-size: 1.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.btn {
  font-family: "Gowun Dodum", sans-serif;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid #84b59f;
  background-color: rgba(0, 0, 0, 0);
  color: #84b59f;
  padding: 5px;
}
.btn btn-primary {
  background-color: #6cb896;
}
.btn-withdraw {
  margin-left: 20px;
  font-family: "Gowun Dodum", sans-serif;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid #ca4949;
  background-color: rgba(0, 0, 0, 0);
  color: #ca4949;
  padding: 5px;
}
.btn2 {
  font-family: "Gowun Dodum", sans-serif;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid #090a0a;
  background-color: rgba(0, 0, 0, 0);
  color: #090a0a;
  padding: 5px;
}
.btn3 {
  margin-top: 10px;
  font-family: "Gowun Dodum", sans-serif;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  float: right;
  border: 1px solid #84b59f;
  background-color: rgba(0, 0, 0, 0);
  color: #84b59f;
  padding: 5px;
}
.star-btn {
  width: 70%;
  margin: 10px auto;
  display: flex;
  justify-content: flex-end;
}
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(200px, auto);
  grid-row-gap: 20px;

  font-family: "Gowun Dodum", sans-serif;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  font-weight: bold;
}
.libraryinfo {
  font-family: "Gowun Dodum", sans-serif;

  width: 1060px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}
.libraryinfo h2,
h3 {
  font-weight: bold;
}
.pagination {
  margin-top: 20px;
  font-family: "Gowun Dodum", sans-serif;
}
.page-item active {
  background-color: #a3c9a8;
}
.page-item.active .page-link {
  background-color: #a3c9a8;
  border: #a3c9a8;
}
.page-link {
  color: #84b59f;
}
