

.navbar {
    /* width: 100%;
    height: 40px; */
    margin-bottom:10px;

    display: flex;
    background: #84B59F	;
    padding: 20px;
    justify-content: space-between;
}
.navbar2 {
  /* width: 100%;
  height: 40px; */
  margin-bottom:10px;

  display: flex;
  
  padding: 10px;
 
 
}
.search {
 
 height: 42px;
  width: 370px;
  border: 3px solid #84B59F;
  border-radius: 5px;
  margin-left: auto;
  
  
}
.search input {
  font-family: 'Gowun Dodum', sans-serif;
  font-weight: bold;
  font-size: 15px;
  width: 270px;
  padding: 10px;
  border:0px;
  outline: none;
  float: left;
}
.search button {
  font-family: 'Gowun Dodum', sans-serif;
  width: 70px;
  height:100%;
  float: right;
    font-size:14px;
    font-weight: bold;
    outline:none;
    border: 0px;
    background-color: #84B59F; color: white; 

}
.nav-nav {
    display: inline-block;
    vertical-align: middle;
}
.nav {
    
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;

}
.nav-link {
    text-decoration-line: none;
    color: white;
    font-family: 'Gowun Dodum', sans-serif;
   
}
.nav-item {
    /* display: inline; */
    display: block;
    text-align: center;
    margin: .5rem;
    padding: .5rem 1rem;
    text-decoration: none;
    font-weight: bold;
    color: white;
    background: #A3C9A8;
}

.nav-title {
    display: inline-block;
    /* vertical-align: middle; */
    color: white;
    font-size:x-large;
    font-weight: bold;
    margin: 0.5rem;
    padding: 0;
    
}

.book-list-item {
    list-style: none;
    margin: 0.5rem;
    vertical-align: middle;
}
a.book-list-item {
    width: fit-content;
}
.book-item { 
    border: 2.5px solid  #E3D081;
    display: inline-block;
    font-size: 15px;
    background-color:white;
    font-family: 'Gowun Dodum', sans-serif;
    /* width:340px;
    #69A297
    height: 450px; */
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
    text-align: center;
}


.book-image {
    width: 230px;
    height: 280px;
    object-fit: contain;
    margin-bottom: 20px;
    /* display: block; */
    
}
.plusimg {
    display: flex;
    flex-wrap:nowrap;
    flex-direction: row; 
    justify-content: space-around;
    vertical-align: middle;
    margin-bottom: 20px;
}
.detail-img {
    width: 285px; height: 350px;
}
.book_info {
    
    border: 2px solid  #E3D081;
    display: inline-block;
    font-size: 18px;
    font-family: 'Gowun Dodum', sans-serif;
    align-items: center;
    
    /* width:340px;
    #69A297
    height: 450px; */
    
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
    text-align:left;
}
.total-description {
    font-family: 'Gowun Dodum', sans-serif;
  
}
.book-description{
    display: flex;
    border: 2px solid  #E3D081;
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
    text-align:left;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.review{
    margin-bottom: 10px;
    font-family: 'Gowun Dodum', sans-serif;
}
.write-review {
    font-family: 'Gowun Dodum', sans-serif;
}
.review-now{
    font-family: 'Gowun Dodum', sans-serif;
}
.review-user{
  border: 2px solid  #E3D081;
  box-sizing: border-box;
}
.star-rating {
    display: flex;
    flex-direction: row-reverse;
    font-size: 2.25rem;
    line-height: 2rem;
    /* justify-content: space-around; */
    /* padding: 0 0.2em; */
    text-align: center;
    width: 5em;
    margin: 0px 3%;
    margin-left: 392px;
  }
   
  .star-rating input {
    display: none;
    
  }
   
  .star-rating label {
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 2.3px;
    -webkit-text-stroke-color: #2b2a29;
    cursor: pointer;
    font-size: 25px;
    font-family: 'Jua', sans-serif;
  }
   
  .star-rating :checked ~ label {
    -webkit-text-fill-color: gold;
  }
   
  .star-rating label:hover,
  .star-rating label:hover ~ label {
    -webkit-text-fill-color: #fff58c;
  }

  .star-ratings {
    font-family: 'Jua', sans-serif;
    color: #aaa9a9; 
    position: relative;
    unicode-bidi: bidi-override;
    width: max-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%,40%);
    -webkit-text-fill-color: transparent; 
    -webkit-text-stroke-width: 1.3px;
    -webkit-text-stroke-color: #2b2a29;
    
  }
   
  .star-ratings-fill {
    color: #fff58c;
    padding: 0;
    position: absolute;
    
    z-index: 1;
    display: flex;
    
    overflow: hidden;
    -webkit-text-fill-color: gold;
  }
   
  .star-ratings-base {
    z-index: 0;
    padding: 0;
  }
  .form-group2 label {
    font-family: 'Gowun Dodum', sans-serif;
    font-size: 20px;
  }
  .form-group label {
    font-family: 'Gowun Dodum', sans-serif;
    
    font-size: 20px;
  }
  
  .form-group input {
    font-family: 'Gowun Dodum', sans-serif;
    font-size: 20px;
    width: 700px;
    height: 25px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  .btn {
    font-family: 'Gowun Dodum', sans-serif;
    font-size:16px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid #84B59F; background-color: rgba(0,0,0,0); color: #84B59F; padding: 5px;

    }
  .star-btn {
    width: 90%;
    margin: 10px auto;
    display: flex;
  }


/* .btn {font-size: 18px; white-space:nowrap; width:100%; padding:.8em 1.5em; font-family: Open Sans, Helvetica,Arial,sans-serif; line-height:18px; display: inline-block;zoom: 1; color: #fff; text-align: center; position:relative; -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear; transition: border .25s linear, color .25s linear, background-color .25s linear;}
 */

/*SUNFLOWER BUTTON STYLES*/		
/* .btn.btn-sunflower{background-color: #f2c500; border-color: #f2c500; -webkit-box-shadow: 0 3px 0 #b19001; box-shadow: 0 3px 0 #b19001;}
.btn.btn-sunflower:hover{background-color:#e3ba02;}
.btn.btn-sunflower:active{top: 3px; outline: none; -webkit-box-shadow: none; box-shadow: none;} */


	


		
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 4fr));
  font-family: 'Gowun Dodum', sans-serif;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  font-weight: bold;
}
.libraryinfo {
  font-family: 'Gowun Dodum', sans-serif;
}
.libraryinfo h2, h3 {
  font-weight: bold;
}